<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b5ac82">  <td>23/09/27 13:03:15</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.clickOnContactLink()[pri:0, instance:Pages.TestNg.crm.HomePageTest@17f62e33]">clickOnContactLink</td> 
  <td>main@93199773</td>   <td></td> </tr>
<tr bgcolor="b5ac82">  <td>23/09/27 13:02:47</td>   <td>-27924</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HomePageTest.setup()[pri:0, instance:Pages.TestNg.crm.HomePageTest@17f62e33]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@93199773</td>   <td></td> </tr>
</table>
